<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styleReg.css') }}">
</head>
<body>
    <div class="container">
        <h2>Регистрация</h2>
        <form action="/register" method="POST">
            <label for="username">Логин:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>
            <label for="firstName">Имя:</label>
            <input type="text" id="firstName" name="firstName" required>
            <label for="lastName">Фамилия:</label>
            <input type="text" id="lastName" name="lastName" required>
            <label for="phone">Телефон:</label>
            <input type="tel" id="phone" name="phone" required>
            <label for="activationKey">Ключ активации:</label>
            <input type="text" id="activationKey" name="activationKey" required>
            <button type="submit">Зарегистрироваться</button>
        </form>
        <p>Уже есть аккаунт? <a href="/login">Войдите</a></p>
    </div>
</body>
</html>
